@import url(https://fonts.googleapis.com/css?family=Open+Sans);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.975em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.975em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.975em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.975em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

 on hover placeholder 

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.975em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.975em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.975em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.975em;
}

/*input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}*/
/*
body {
  font-family: 'Lato', sans-serif;
  background: #e2dedb;
  color: #b3aca7;
}*/

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.975em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  margin: 3px;
  background: transparent;
  outline: none;
  color: #0094BB;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}


textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  margin: 5px;
  
  background: transparent;
  outline: none;
  
  color: #0094BB;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.975em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}


#submit-button {
  width: 502px;
  
  padding: 0;
  margin: 0px 0px 0px 0px;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 0.975em;
  color: #b3aca7;
  background-color: #cbc6c1;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
}

#submit-button:hover {
  color: #f2efec!important;

}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  height: 50px !important;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 45px;
  height: 50px !important;
  border: 1px solid #00B4CC;
  background: #0094BB;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 60%;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-home{
  margin-top: 50px;
  width: 40%;
  padding: 15px;
  border-radius: 5px;
  background: #0094BB;
  color: rgba(255, 255, 255, .8);

  /*height: 100px;*/
}
.submit-home:hover{
  cursor: pointer;
  color: #fff;
}

.space{
  margin: 25px;
}